$background-color: rgb(228, 214, 196);
$main-white: #ffffff;
$button-color: brown;
$button-color-hover: rgb(241, 15, 15);
$error: red;
$add-user: aqua;
$main-yellow: rgb(241, 241, 76);
$main-black: rgb(0, 0, 0);




